.info {
    background-color: #a1dbf0;
    padding: 10px 24px;
    margin: 8px;
    color: black;
}

.acc {
    background-color: #bbb;
    padding: 10px 24px;
    margin: 8px;
    color: black;
}

.acc>* {
    margin: 4px;
}

.selected {
    background-color: greenyellow;
}
